@model IEnumerable<RegistroCFTweb.Models.Notas>

@{
    ViewData["Title"] = "Index";
}

<h1>Promedio estudiante</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponderacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            double promedio = 0;

        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Calificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ponderacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asignatura.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.Id)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Editar</a>

                </td>
                @{

                    promedio = promedio + (((item.Calificacion * (item.Ponderacion / 100)))/10);
                    
                    promedio = Math.Round(promedio, 1);
                }
            </tr>
        }
    </tbody>
    <h1>Promedio = @promedio</h1>
</table>
